body {
    margin:0px auto;
    width: 1200px;
}

div p {
    padding: 5px;
}

.hlavny {
    /*background-color: red;*/
    display: flex; /* Zobraz "obsah", teda kontajnery (div) vo vnutri vedla seba */
    flex-direction: column; /* Touto vlastnostou nastavime "obsah", ktory sa bude zobrazovat pod sebou */
    margin: 20px;
    flex-wrap: wrap;
    width: 1200px;
}

.hlavicka {
    background-color: #00d7f1;
    height: 47px; /* Nastavili sme vysku hlavicky na 50 pixelov */
}

.telo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.nad-patkou {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.patka {
    background-color: #ff9d00;
    margin-top: 20px;
}

.lavy {
    width: 35%;
}

.pravy {
    width: 65%;
    margin-left: 10px;
}

.lavy-horny {
    background-color: #dcc8e6;
    height: 400px;
}

.lavy-dolny {
    background-color: #97c355;
    height: 600px;
    margin-top: 10px;
}

.pravy-horny {
    background-color: #ffc500;
    height: 700px;
}

.pravy-dolny {
    background-color: #898989;
    height: 300px;
    margin-top: 10px;
}

.nad-patkou-lavy {
    background-color: #00ba70;
    width: 80%;
}

.nad-patkou-pravy {
    background-color: #fec6e6;
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: blue;
}
.active {
    background-color: #00d7f1;
}


